body{
  background-color:transparent;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 11px;
}
html{
  overflow: hidden;
}
.sprite{
  background: url("http://graasp.epfl.ch/gadget/test/grid_view/sprite.png") no-repeat top left;
  display: inline-block;
}
.view1{ background-position: 0 0; width: 30px; height: 18px; }
.view1_blue{ background-position: -80px 0; width: 30px; height: 18px; }
.view2{ background-position: -160px 0; width: 30px; height: 18px; }
.view2_blue{ background-position: -240px 0; width: 30px; height: 18px; }
.view3{ background-position: -320px 0; width: 30px; height: 18px; }
.view3_blue{ background-position: -400px 0; width: 30px; height: 18px; }
.view4{ background-position: -480px 0; width: 30px; height: 18px; }
.view4_blue{ background-position: -560px 0; width: 30px; height: 18px; }
.view5{ background-position: -640px 0; width: 30px; height: 18px; }
.view5_blue{ background-position: -720px 0; width: 30px; height: 18px; }
.view6{ background-position: -800px 0; width: 30px; height: 18px; }
.view6_blue{ background-position: -880px 0; width: 30px; height: 18px; }

.gadgets-gadget{width: 100%;border-radius:5px;}
#popup{
  position: fixed;
  width: 300px;
  height: 130px;
  background:white;
  z-index:20;
  border-radius:5px;
  border: 1px solid #ccc;
  padding:10px;
  box-shadow: -5px 5px 5px #777;
  -webkit-box-shadow: -5px 5px 5px #777;
  top:50px;
  right:10px;
}
#popup .button{
  margin-top:10px;
}
#popup div{
  margin-bottom:3px;
}
.select{
  float: right;
  position: relative;
}
#help_button{
  margin: 0 10px;
}
#name{
  top: 3px;
}

.window{
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  vertical-align:top;
}
.window_placeholder{
  display:none;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left:0px;
  z-index:10;
}
.window_placeholder.active{
  display:block;
}
.drop_here{
  width: 12px;
  height: 100%;
  display: inline-block;
  position: absolute;
  right: -6px;
  top: 0px;
}
.drop_here.active{
  background-color: #87AFDA;
}
.drop_here.hover{
  background-color: yellow;
}

.gadgets-gadget-title-bar{
  padding:5px;
  margin:0 8px;
  border: 1px solid #bbb;
  background-color: #eee;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor:move;
}
.window:hover .gadgets-gadget-title-bar{
  border-color: #87AFDA;
  color: #36C;
  background-color: #D4E6FC;
}
.window:hover .gadgets-gadget-content{
  border-color: #87AFDA;
}
#fake_gadget{
  display: inline-block;
  width: 0px;
  position: absolute;
  height: 200px;
  left:6px;
  z-index:1;
}
.ui-resizable-e{
  position:absolute;
  right:3px;
  width:11px;
  height:100%;
  cursor:ew-resize;
  top:0px;
}

.view_pic{
  top:3px;
  position:relative;
  margin: 0 5px;
  cursor: pointer;
}
.gadgets-gadget-content{
  margin: 0 8px;
  background:white;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#container {
  width: 940px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  left: 50%;
  margin-left: -470px;
  position: absolute;
}

.button{
  display: inline-block;
  padding: 3px 4px 3px 4px;
  border: solid 1px #CCC;
  border-radius: 5px;
  background-color: white;
  color: #606060;
  text-decoration: none;
  font-size: 11px;
  cursor: pointer;
  background: -moz-linear-gradient(top, white, #EBEBEB);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ebebeb));
}
.button:hover {
  color: #222;
  border: solid 1px #AAA;
  box-shadow: 0 0 3px #CCC;
  -webkit-box-shadow: 0 0 3px #CCC;
}

#menu{
  height: 30px;
}
#title{
  font-size:20px;
  padding:5px 0;
  float:left;
  margin-top: 15px;
}
#golab_logo{
  float: left;
  margin-top: 5px;
  height: 35px;
}
#center{
  width: 100%;
  position: relative;
  top:0px;
}
#not_owner{
  color: #aaa;
  width: 300px;
  border: 1px solid #ccc;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  padding:5px;
  position: absolute;
  left:50%;
  margin-left:-150px;
}
#login_popup{
  width: 400px;
  top: 38%;
  left: 54%;
}
#popup_body{
  text-align: center;
}
#popup_footer{
  text-align: center;
}
#user_name{
  height: 30px;
  margin-top:10px;
  width:300px;
}
#banner{
  height: 60px;
}
#hello_msg{
  float:right;
  margin-right: 15px;
  margin-top: 10px;
  color: #fff;
  background-color: #111;
}
#error_msg{
  margin-left: 35px;
  width: 250px;
}
#description_block{
  margin: 20px 0;
}
.modal-backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}
#tools_title{
  background-color: #000000;
  height: 30px;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  font-size: 16px;
}
#tools_content{
  display: none;
  padding-top: 10px;
  overflow: scroll;
  max-height: 455px;
}
#toolbar{
  bottom: 0;
  background-color: #ffffff;
}
#arrow_down{
  display: none;
}
#main_block{
  position: absolute;
  bottom: 40px;
  top: 0px;
  overflow-y: auto;
  width: 100%;
}