/**** New UI Customization CERTH ****
 ------------------------------------ 
 ****     Start      **** /

/*Default font style*/

@font-face{
    font-family: 'SuisseIntl'
src: url('http://graasp.eu/fonts/SuisseIntl-Regular-WebS.eot')
src: url('http://graasp.eu/fonts/SuisseIntl-Regular-WebS.eot?#iefix') format('embedded-opentype'), url('http://graasp.eu/fonts/SuisseIntl-Regular-WebS.woff') format('woff')
font-weight: normal
font-style: normal
}

@font-face{
    font-family: 'SuisseIntl'
src: url('http://graasp.eu/fonts/SuisseIntl-RegularItalic-WebS.eot')
src: url('http://graasp.eu/fonts/SuisseIntl-RegularItalic-WebS.eot?#iefix') format('embedded-opentype'), url('http://graasp.eu/fonts/SuisseIntl-RegularItalic-WebS.woff') format('woff')
font-weight: normal
font-style: italic
}

@font-face{
    font-family: 'graaspicto'
src: url('http://graasp.eu/fonts/graaspicto.eot')
src: url('/http://graasp.eu/fonts/graaspicto.eot?#iefix') format('embedded-opentype'), url('http://graasp.eu/fonts/graaspicto.woff') format('woff')
font-weight: normal
font-style: normal
}




/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
    font-size: 21px;
    overflow: visible;
    overflow-x: hidden!important;
}

html,
html *,
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'SuisseIntl', 'Helvetica', 'Arial', Sans-Serif!important;
}

/* Wrapper for page content to push down footer */



.bg_image{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: rgba(0,0,0,0);
  background-attachment: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
  display: none;
}

.bg_default{
    background-image: url("bg.jpg");
}

#container {
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width:940px;
    border-radius: 0px;
    min-height: 120%;
}


/* Set the fixed height of the footer here */

#center{
    width: 100%;
    position: relative;
    top:0px;
}

#main_block{
    position: absolute;
    bottom: 40px;
    top: 0px;
    overflow-y: auto;
    width: 100%;
    padding: 42px 0px 0;
    overflow-x: hidden;
}
#footer {
    background-color: #88e2f9;
    border: 1px solid #88e2f9;
}

p {
    text-align: inherit;
}

#footer > p{
    margin: 0 auto;
    color:#136ab0;
    text-align: center;
    font-weight: bold;
    vertical-align:middle;
    line-height: 2.5em;
}

.dark{
    color:#136ab0;
}

.strong{
    font-weight:bold;
}

#name_prompt > input {
    height: 75px;
    margin: 15px auto !important;
    padding: 0 10px;
    vertical-align: middle;
    width: 100%;
    font-size: 43px;
    border: none;
    color: #5050D2;
}

#name_prompt > input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #959292;
}
#name_prompt > input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #959292;
}

@-moz-document url-prefix() {
    #name_prompt > input {

        padding: 6px 10px 0;

    }
}

.name_prompt_text{
    color: #ffffff;
    font-size: 43px;
    text-align: center;
}


.name_prompt_text > h3{
    margin: 0;
    font-size: 43px;
}

#forgot_password_text{
    float: right;
    color: #ffffff;
}

#error_name_text{
    clear: both;
    color: red;
    font-size: 21px;
    margin-top: 15px;
}

#name_prompt>button:hover{
    background-color: #FAA61A;
    color: #ffffff;
}

#name_prompt > input:focus {
    outline-width: 0;
}

#description_block{
    word-wrap: break-word;
    padding: 20px 14px;
    background-color: #ebebeb;
}


#ils_cycle {
    top: 0px;
    color:white;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

#ils_phases{
    padding-bottom: 60px;
    padding: 14px;
    overflow: hidden;
}

.tab-pane *{
    max-width: 100%;
}
.customTop ul{
    padding:0px 0px 0px 15px;
    border-bottom: 0px solid #dddddd;
}


.customHeight {
    height: 42px;
}

#customBarWrapper {
    margin: 0 auto;
    max-width: 940px;
    padding:0 14px;
    position: relative;
}


.fixedCustomTop
{
    position:fixed!important;
    width:100%;
    z-index: 1040;
    -webkit-transform: translateZ(0);
}

.customTop {
    background-clip: padding-box;
    background-color: #5050D2;
    border-top: 0 none;
    color: #ffffff;
    height: 42px;
    z-index: 1040;
    position: relative;
    max-width: 940px;
    overflow: hidden;
}

#myCustomBar{

    height: 42px;
    min-height: 0px;
    padding:0;
    margin: 0;
    border: none;
}

#title {
    margin:0px;
    padding:0px;
    line-height:42px;
    color:#ffffff;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width:100%;
    display: block;
}

#hello_msg {
    color: #ffffff;
    background-color: transparent;
    line-height:42px;
    margin:0px;
    float: right;
}
#logout_button {
    cursor: pointer;
    float: right;
    height: 30px;
    padding-left: 5px;
    padding-top: 10px;
}

#toolbar{
    line-height:normal;
    cursor: pointer;
}

#tools_title{
    background-color: #5050D2;
    color:#ffffff;
    font-size: 21px;
    height: 42px;
    padding-top: 12px;
    text-align: center;
}

#tools_content{
    display: none;
    background-color: rgba(80,80,200,0.8);
}


#tools_content > .window{
    width:auto;
    margin: 5px;
}

#arrow_down{
    display: none;
}


.customTop * {
    border-color: #5050d2 !important;
    border-radius: 0 !important;
    border-width: 0px 0 0 !important;

}

.customTop li > a{
    color: white;
    outline: none;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
    padding: 0px 14px;
    margin-right: 0px;
}


.customTop li.active{
    background-color: #ffffff;
}

.customTop li.active > a{
    color:#5050D2!important;
    background-color: #ffffff;
}

.customTop li.active:hover{
    background-color: #ffffff;
}
.customTop li.active > a:hover{
    color:#5050D2;
    background-color: #ffffff;

}

.customTop li:hover {
    background-color: #6262FF;
}

.customTop li> a:hover{
    color:white;
    background-color: #6262FF;
}

.hasChevrons{
    margin: 0 20px;
}

.tabChevron{
    height: 100%;
    width: 20px;
    background: transparent;
    position: absolute;
    top:0px;
    cursor: pointer;
    background-position: 50%;
    background-repeat: no-repeat;
}

.tabChevron:hover{
    background-color: #6262ff ;
}

.tabChevron.left{
   left: 0px;
   background-image: url("left-chevron.png");
   border-right: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.tabChevron.right{
    right: 0px;
    background-image: url("right-chevron.png");
    border-left: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.tabChevron.disabled
{
    background-image: none;
    cursor: not-allowed;
    border: 0px none !important;
}

.tabChevron.disabled:hover{
    background-color: #5050d2 ;
}

#ils_cycle > li{
    float: none;
    display: inline-block;
    margin-bottom: 0px;
}

hr {border:1px solid black;}

.page-header {
    border:0px solid black;
    margin-top:0px;
}

.tab-pane{
    padding-top:2em;
}

.centered {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.block{
    display: block;
}

#main_block .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

.navbar-brand{
    padding:10px;
}

.logoimage {
    width:40px;
    height: 40px;
}

#login_popup{
    left:0px;
    width:auto;
    top:20%;
}

.modal-dialog {
    width: 400px;
}

.gadgets-gadget{
    width: 100%;
}

.gadgets-gadget-title-bar {
    display: none;
}

.gadgets-gadget-content {
    border:0px;
}

iframe{
    border: 0px solid transparent;
}

.window{
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    vertical-align:top;
    width: 100%;
    overflow: auto;
}
.window_placeholder{
    display:none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index:10;
}
.window_placeholder.active{
    display:block;
}

/*Notifications Bar override for offline.js START*/

.offline-ui {
    border-radius: 0px;
    font-family: 'EuphemiaUCAS';
    max-width: 100%;
    overflow: hidden;
    padding: 1em;
    top: 42px;
    width: 100%;
    font-size: 14px;
    height: 42px;


}

/*Notifications Bar override for offline.js END*/


/* Overrides Bootstrap Toolbar */
/*
   custom.css
   Responsive Prototype
   
   Created by Alexandros Trichos on 2013-12-16.
   Copyright 2013 Alexandros Trichos. All rights reserved.
*/
.navbar-header {
    margin-left: 0;
    line-height: 2.5em;
    word-break: break-word;
    width: 80%;
    float:left;
}

.navbar-default > a{
    line-height: 2.5em;
    margin-right: 2em;
    float: right;

}



.navbar-default {
    background-color: #5050D2;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6262ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #6262ff;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #6262ff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}


/* Scrollbar Fix */


/* Scrollbar Fix */


/* RESPONSIVE OVERRIDE */

@media (max-width: 991px) {

}

@media (max-width: 768px) {
    #bg_image{
        display: none;
    }

    /*Loader related responsiveness START*/
    #inner_loader{
        top:10%!important;
    }
    #loader-image{
        width: 30%;
    }

    #loader-image-static{
        width: 30%;
    }

    #name_prompt > input {
        height: 55px;
        margin: 15px auto !important;
        padding: 0 10px;
        font-size: 33px;
    }

    .name_prompt_text{
        color: #ffffff;
        font-size: 30px;
        text-align: center;
    }

    .name_prompt_text > h3{
        font-size: 30px;
    }

    #inner_loader{
        max-width: 400px!important;
    }
    /*Loader related responsiveness END*/

}


@media (min-width: 768px) and (max-width: 991px) {


}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}




/**** New UI Customization EPFL ****
 ------------------------------------ 
 **** Styles from the previous app.css  ****/

.resource_content{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.resource_error{
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    text-align: center;
}

.google-doc.resource_content{
    width: 100%;
    max-width: 100%;
    height: 100%;
}