body {
  background-color: #5050d2;
  color: white;
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  margin-top:10px;
}

#timeSpent {
  margin: 0px;
  padding: 0px;
}

#timeSpent *[ng-click] {
  cursor: pointer;
}

#timeSpent form input[type=text] {
  width: 30px;
  padding-left: 10px;
}

#timeSpent table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

#timeSpent tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.25);
}

#timeSpent th {
  padding: 5px;
}

#timeSpent td {
  position: relative;
  text-align: center;
  padding: 3px;
}

#timeSpent td.userName {
  text-align: left;
}

#timeSpent td.userName:first-letter {
    text-transform: uppercase;
}

#timeSpent form {
  padding: 0px 10px;
  line-height: 1.5;
}

#timeSpent .error {
  border: 1px solid red;
  padding: 3px;
  background-color: #ffcccc;
  color: red;
  margin: 5px 0px;
  display: inline-block;
}

#timeSpent form input[type=datetime-local] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-family: inherit;
  font-size: inherit;
}

#timeSpent form label[for=noEndTime] {
  padding: 4px 4px 4px 0px;
  margin: 5px 0px;
  display: inline-block;
}

#timeSpent form input[type=submit] {
  background-color: #5050d2;
  color: white;
  border: 1px solid white;
  height: 24px;
  font-size: 15px;
}

#timeSpent form input[type=submit]:hover {
  background-color: #6262FF;
  border: 1px solid transparent;
}

#timeSpent form input[type=submit]:active {
  background-color: #6262FF;
  border: 1px solid white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
