body {
  background-color: #5050d2;
  color: white;
  font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
  margin-top:10px;
}

#timeSpent {
  margin: 0px;
  padding: 0px;
}

#timeSpent *[ng-click] {
  cursor: pointer;
}

#timeSpent form input[type=text] {
  width: 30px;
  padding-left: 10px;
}

#timeSpent table {
  margin-bottom: 20px;
  border-collapse: collapse;
  width: 100%;
}

#timeSpent tr:nth-child(odd) td {
  background-color: rgba(255, 255, 255, 0.25);
}
/*#timeSpent tr:nth-child(even) td:first-child {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)) no-repeat 20px 0px;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)) no-repeat 20px 0px;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)) no-repeat 20px 0px;
  background: linear-gradient(left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25)) no-repeat 20px 0px;
}*/

#timeSpent th {
  padding: 5px;
}

#timeSpent td {
  position: relative;
  text-align: center;
  padding: 3px;
}

#timeSpent td div.userImage {
  width: 32px;
  height: 32px;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  padding: 4px;
  text-align: center;
  font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white;
  z-index: 5;
}

#timeSpent td div.userName {
  display: none;
  position: absolute;
  top: 6px;
  left: 45px;
  font-size: 20px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 3px;
  color: #5050d2;
  z-index: 6;
  width: 150px;
  text-align: center;
}
#timeSpent td.userName {
  text-align: left;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
