#f1 {
	height: 90px;
	width: 10px;
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 55px;
}
#f1.noUi-vertical .noUi-handle {
    width: 20px;
    height: 10px;
    top: -1px;
}
#f1.noUi-vertical .noUi-handle:before,
#f1.noUi-vertical .noUi-handle:after {
	width: 0px;
	height: 0px;
}

#bs1 {
	height: 90px;
	width: 10px;
	z-index: 2;
	position: absolute;
	top: 20px;
	left: 242px;
}
#bs1.noUi-vertical .noUi-handle {
    width: 20px;
    height: 10px;
    top: -1px;
}
#bs1.noUi-vertical .noUi-handle:before,
#bs1.noUi-vertical .noUi-handle:after {
	width: 0px;
	height: 0px;
}

#bs2 {
    height: 10px;
    width: 90px;
    z-index: 2;
	position: absolute;
	top: 160px;
	left: 65px;
}
#bs2.noUi-horizontal .noUi-handle {
    width: 10px;
    height: 20px;
    left: -1px;
}
#bs2.noUi-horizontal .noUi-handle:before,
#bs2.noUi-horizontal .noUi-handle:after {
    width: 0px;
    height: 0px;
}

#piezo {
    height: 90px;
    width: 10px;
    z-index: 2;
	position: absolute;
	top: 200px;
	left: 105px;
}
#piezo.noUi-vertical .noUi-handle {
    width: 0px;
    height: 0px;
    opacity:0;
}
#piezo.noUi-handle {
    border: 1px;
}
#piezo.noUi-vertical .noUi-handle:before,
#piezo.noUi-vertical .noUi-handle:after {
    width: 0px;
    height: 0px;
}

.noUi-connect {
    background: #5050d2;
}

#value-inputf1, #value-inputbs1, #value-inputbs2, #value-inputpiezo {
    position: absolute;
    text-align: center;
    font-size: 12;
    color: #5050d2;
}

#value-inputf1 {
	top: 114px;
    left: 55px;
}
#value-inputbs1 {
	top: 114px;
    left: 242px;
}
#value-inputbs2 {
	top: 155px;
    left: 159px;
}
#value-inputpiezo {
	top: 280px;
    left: 95px;
}

#spanbs1, #spanbs2, #spanf1, #spanpiezo {
	position: absolute;
    text-align: center;
    font-size: 12;
    color: #5050d2;
}
#spanf1 {
	top: 5px;
	left: 40px;
}
#spanbs1 {
	top: 5px;
	left: 236px;
}
#spanbs2 {
	top: 158px;
	left: 37px;
}
#spanpiezo {
	top: 285px;
	left: 62px;
}
#diagramImage {
	z-index : 1 ;
}