#piezo {
    height: 40px;
    width: 10px;
    z-index: 4;
	position: absolute;
	top: 212px;
	left: 78px;
	border:0px;
}
#piezo.noUi-vertical .noUi-handle {
    width: 0px;
    height: 0px;
    opacity:0;
}
#piezo.noUi-handle {
    border: 1px;
}
#piezo.noUi-vertical .noUi-handle:before,
#piezo.noUi-vertical .noUi-handle:after {
    width: 0px;
    height: 0px;
}
#piezo.noUi-target{
    border: 2px solid #D3D3D3;
}
.noUi-connect {
    background: #5050d2;
}

#diagramImage {
	z-index : 1;
}
#mirrorImage {
	z-index: 3;
	position: absolute;
	top: 200px;
	left: 72px;
}
#s2Image {
	z-index: 4;
	position: absolute;
	top: 188px;
	left: 256px;
}
#rayImage {
	z-index: 2;
	position: absolute;
	top: 215px;
	left: 96px;
}

#ray2Image {
	z-index: 2;
	position: absolute;
	top: 214px;
	left: 316px;
}

#ray3Image {
	z-index: 2;
	position: absolute;
	top: 218px;
	left: 316px;
}
#ray4Image {
	z-index: 2;
	position: absolute;
	top: 48px;
	left: 127px;
}
#ray5Image {
	z-index: 2;
	position: absolute;
	top: 59px;
	left: 90px;
}
#ray6Image {
	z-index: 2;
	position: absolute;
	top: 59px;
	left: 278px;
}
#ray7Image {
	z-index: 2;
	position: absolute;
	top: 56px;
	left: 23px;
}
#filterImage {
	z-index: 3;
	position: absolute;
	top: 20px;
	left: 49px;
}
#laserOnImage, #laserOffImage {
	z-index: 3;
	position: absolute;
	top: 41px;
	left: 2px;
}
#bs1Image {
	z-index: 3;
	position: absolute;
	top: 8px;
	left: 180px;
}
#bs2Image {
	z-index: 3;
	position: absolute;
	top: 128px;
	left: 43px;
}
#arrowsImage {
	z-index: 3;
	position: absolute;
	top: 223px;
	left: 88px;
}